<section class="game" *ngFor="let game of games">
    <div class="row">
      <div app-random-number [lastNumber]="game.lastNumber" class="col-md-4 col-lg-3" ></div>
      <div class="col-md-8 col-lg-4">
          Winners:
          <div>First Five: {{game.firstFive?(game.firstFive.numbers + " - " + game.firstFive.name):""}} </div>
          <div>1st Row: {{game.firstRow?(game.firstRow.numbers + " - " + game.firstRow.name) : ""}}</div>
          <div>2nd Row: {{game.secondRow?(game.secondRow.numbers + " - " + game.secondRow.name):""}} </div>
          <div>3rd Row: {{game.thirdRow?(game.thirdRow.numbers + " - " + game.thirdRow.name):""}} </div>
          <div>Full House: {{game.fullHouse?(game.fullHouse.numbers + " - " + game.fullHouse.name):""}} </div>
      </div>
      <div app-completed-numbers [game]="game" class="col-md-12 col-lg-5"></div>
    </div>
</section>
